<h1>welcome to the world at surveys#index</h1>

<h1>Your New Survey </h1>
<%= form_for @survey do |f| %>
  <p><%= f.label :SurveRy  %></p>

  <p>Title: <%= f.text_field :name, :placeholder => "Enter your title here.."  %></p>

  <p><%= f.fields_for :questions do |question|  %></p>
    <%= render "questions_fields", :f => question %> 
  <% end %>
  <p><%= f.submit %></p>
<% end %>

